@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #abb8c3;
    z-index: 1000;
}

nav .left {
    display: flex;
    align-items: center;
    flex: 1;
}

nav .icon {
    font-size: 35px;
    font-weight: 800;
    color: #abb8c3;
    cursor: pointer;
    z-index: 20;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 2px;
}

nav ol li a {
    color: #abb8c3;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

nav ol li:hover a {
    color: #fff;
}

nav .search_box {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    flex: 1;
    justify-content: center;
}

nav .search_box input {
    border: 1px solid #0a5071;
    outline: none;
    background: #ED2939;
    height: 36px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}

nav .search_box span {
    color: #abb8c3;
    font-size: 16px;
    background: #ED2939;
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid #0a5071;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    transition: background 0.3s, color 0.3s;
}

nav .search_box span:hover {
    color: #ED2939;
    background: #abb8c3;
}

nav .bar {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 1400px) {
    nav {
        display: block;
        padding: 0;
        text-align: center;
    }

    nav .left {
        flex-direction: column;
        align-items: center;
    }

    nav .search_box {
        width: calc(100% - 20px);
        margin: 15px auto;
        background: #ff003c;
        border-radius: 10px;
        padding: 5px;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    nav .search_box input {
        width: calc(100% - 60px);
        height: 35px;
        font-size: 20px;
        padding: 0 10px;
        border: 1px solid #ff003c;
        background: #ff003c;
        border-radius: 5px;
    }

    nav .search_box span {
        width: 40px;
        height: 35px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ff003c;
        color: #abb8c3;
        border-radius: 5px;
        transition: background 0.3s, color 0.3s;
    }

    nav .search_box span:hover {
        background: #abb8c3;
        color: #ff003c;
    }

    nav ol {
        display: flex;
        flex-direction: column;
        background: #ff003c;
        height: 0;
        visibility: hidden;
        transition: height 0.3s ease;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 999;
    }

    nav ol li {
        text-align: center;
        transition: opacity 0.3s, transform 0.3s;
        opacity: 0;
        margin: 0;
    }

    nav ol li a {
        color: #abb8c3;
        font-size: 28px;
        padding: 25px;
        display: block;
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1000;
        cursor: pointer;
        font-size: 35px;
    }

    #bars {
        display: block;   
    }

    #times {
        display: none;
    }

    input[type="checkbox"]:checked ~ nav ol {
        height: auto;
        visibility: visible;
    }

    input[type="checkbox"]:checked ~ nav .bar #bars {
        display: none;
    }

    input[type="checkbox"]:checked ~ nav .bar #times {
        display: block;
    }

    input[type="checkbox"]:checked ~ nav ol li {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (min-width: 1401px) {
    nav .search_box {
        width: 25%;
    }
}

.content-wrapper {
    transition: margin-top 0.3s ease;
    background: #000;
    padding-top: 100px; /* Adjust this value to the height of the nav */
}

input[type="checkbox"]:checked ~ .content-wrapper {
    margin-top: 325px;
}

section {
    background: url(img.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: -1;
    filter: brightness(30%);
    background: #000;
}

.txt2, .txt, .txt1 {
    background-color: white;
    width: 70%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #0a5071;
}

.txt2 {
    margin: 12%;
    margin-bottom: 20px;
}

.txt {
    margin-left: 12%;
    margin-bottom: 25px;
}

.txt1 {
    margin: 12%;
    margin-bottom: -40px;
}

.txt2:focus-within, .txt1:focus-within, .txt:focus-within {
    outline: none;
    border-color: #0a5071;
    border-width: 3px;
}

.sb {
    background-color: #0a5071;
    border-radius: 20px;
    border-color: #000;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

.sb:hover {
    opacity: 80%;
    cursor: pointer;
}

.form2 {
    color: #000;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}

.form {
    background: #0a5071;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

.ct {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    visibility: hidden;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    font-size: 0px;
    display: flex;
    padding: 0px;
}

.search_box {
    position: relative;
    text-align: center;
}

#suggestions {
    border: 1px solid #ED2939;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background: abb8c3;
    z-index: 1000;
    width: 300px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#suggestions div {
    padding: 10px 15px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #e0e0e0;
    color: black;
    width: 100%;
}

#suggestions .highlighted {
    background-color: #ED2939;
    font-weight: bold;
}

#suggestions div.selected {
    background: #ED2939;
}

body {
    background: #050505;
    color: #fff;
        display: flex;
        flex-direction: column;
}

.image {
    max-width: 100%; 
    height: auto; 
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    background: #ED2939;
    border-radius: 10px;
}

#info .text {
    flex: 1;
    font-size: 16px;
    color: #fff;
}

#info .image {
    max-width: 300px;
    height: auto;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    #info {
        flex-direction: column;
        text-align: center;
    }

    #info .image {
        margin-top: 20px;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #000; 
    color: #abb8c3; 
    text-align: center; 
    padding: 20px; 
    margin-top: auto; 
    border-top: 1px solid #abb8c3; 
}

.footer p {
    margin: 0; 
    font-size: 16px; 
}

@keyframes slideInFromTop {
    from {
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }
    to {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

#image {
    position: relative;
    width: 100%;
    height: auto;
    animation: slideInFromTop 1s ease-out forwards;
    clip-path: inset(0 0 100% 0);
}
.social-footer {
    padding: 10px; /* Adjust padding if needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 40px; /* Fixed size for social media icons */
    height: 40px; /* Fixed size for social media icons */
    margin: 0 10px; /* Spacing between icons */
    object-fit: contain; /* Maintain aspect ratio */
    display: inline-block; /* Ensure proper spacing and alignment */
}

.social-icon:hover {
    opacity: 0.8; /* Slight hover effect */
}
.social-header{
    margin: 0;
    font-size: 20px; /* Adjust header size as needed */
    color: #abb8c3; /* Ensure color consistency */
}
.content-wrapper {
    flex: 1; /* Ensures that the content area takes up remaining space */
    background: #000;
    padding-top: 100px; /* Adjust this value to the height of the nav */
}
html, body {
    height: 100%;
    margin: 0;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.social-footer img {
    width: 40px; /* Ensure image size is consistent */
    height: 40px; /* Ensure image size is consistent */
    object-fit: contain; /* Ensure aspect ratio is maintained */
}
.image-container#info {
    opacity: 0;
    transition: opacity 1s ease-in;
    background: transparent; /* Make background transparent initially */
    border: none; /* No border initially */
}

.image-container#info.visible {
    opacity: 1;
    background: #ED2939; /* Final background color */
    border: 1px solid #ED2939; /* Final border */
}

.image-container#info .text {
    color: #fff;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.image-container#info.visible .text {
    opacity: 1; /* Final opacity */
}
.image-list {
    display: block; /* Ensure the items stack vertically */
    margin: 0 auto; /* Center align the list */
}

.image-item {
    display: flex; /* Align image and text side by side */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Space between items */
    border: 3px solid #ED2939;
    padding: 20px;
    max-width: 100%; /* Allow items to take full width */
}

.image-item img {
    max-width: 300px; /* Limit the image width */
    height: auto;
    margin-right: 20px; /* Space between image and text */
    display: block; /* Ensure image is displayed properly */
}

.image-details {
    display: flex;
    flex-direction: column; /* Stack text and link vertically */
    justify-content: center; /* Center items vertically */
}

.image-details p {
    margin: 0 0 10px; /* Space between text and link */
}

.image-details a {
    padding: 10px 20px; /* Padding for the link */
    background-color: #ED2939; /* Background color for the link */
    color: #abb8c3; /* Text color for the link */
    text-decoration: none; /* Remove underline */
    border-radius: 8px; /* Rounded corners */
}

.image-details a:hover {
    background-color: #abb8c3; /* Hover background color */
    color: #ED2939; /* Hover text color */
}
